*._bootmp*
*.cache
*.doc
*.exe
*.lineno
*.log
*.o
*.trs
*~
.deps
/GNUmakefile
/INSTALL
/README-release
/aclocal.m4
/build-aux
/config.status
/configure
/gunzip
/gzexe
/gzip
/gzip-*
/libver.a
/maint.mk
/version.[ch]
/zcat
/zcmp
/zdiff
/zegrep
/zfgrep
/zforce
/zgrep
/zless
/zmore
/znew
ChangeLog
Makefile
Makefile.in
gzip.doc.gz

# Rust ignore
/target
